Java/Okapi master/okapi service/WebContent/wsdl/OkapiService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.okapi.tm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.okapi.tm.com" xmlns:intf="http://service.okapi.tm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.okapi.tm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createDocumentFromXliff">
    <complexType>
     <sequence>
      <element name="sFileName" type="xsd:string"/>
      <element name="fileContent" type="xsd:base64Binary"/>
      <element name="sFilterName" type="xsd:string"/>
      <element name="filterContent" type="xsd:base64Binary"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element name="targetLangISO639_1" type="xsd:string"/>
      <element name="sXliffContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createDocumentFromXliffResponse">
    <complexType>
     <sequence>
      <element name="createDocumentFromXliffReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="createXliff">
    <complexType>
     <sequence>
      <element name="sFileName" type="xsd:string"/>
      <element name="fileContent" type="xsd:base64Binary"/>
      <element name="sFilterName" type="xsd:string"/>
      <element name="filterContent" type="xsd:base64Binary"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element name="targetLangISO639_1" type="xsd:string"/>
      <element maxOccurs="unbounded" name="aTMAssignments" type="impl:TMAssignment"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMAssignment">
    <sequence>
     <element name="TMName" nillable="true" type="xsd:string"/>
     <element name="penalty" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createXliffResponse">
    <complexType>
     <sequence>
      <element name="createXliffReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createDocumentFromXliffResponse">

      <wsdl:part element="impl:createDocumentFromXliffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createXliffRequest">

      <wsdl:part element="impl:createXliff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createXliffResponse">

      <wsdl:part element="impl:createXliffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentFromXliffRequest">

      <wsdl:part element="impl:createDocumentFromXliff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OkapiService">

      <wsdl:operation name="createDocumentFromXliff">

         <wsdl:input message="impl:createDocumentFromXliffRequest" name="createDocumentFromXliffRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDocumentFromXliffResponse" name="createDocumentFromXliffResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createXliff">

         <wsdl:input message="impl:createXliffRequest" name="createXliffRequest">

       </wsdl:input>

         <wsdl:output message="impl:createXliffResponse" name="createXliffResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OkapiServiceSoapBinding" type="impl:OkapiService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createDocumentFromXliff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentFromXliffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDocumentFromXliffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createXliff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createXliffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createXliffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OkapiServiceService">

      <wsdl:port binding="impl:OkapiServiceSoapBinding" name="OkapiService">

         <wsdlsoap:address location="http://localhost:8080/OkapiService/services/OkapiService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
