Java/Okapi master/okapi service/WebContent/wsdl/OkapiService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.okapi.tm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.okapi.tm.com" xmlns:intf="http://service.okapi.tm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.okapi.tm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createXliff">
    <complexType>
     <sequence>
      <element name="sFileName" type="xsd:string"/>
      <element name="fileContent" type="xsd:base64Binary"/>
      <element name="sFilterName" type="xsd:string"/>
      <element name="filterContent" type="xsd:base64Binary"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element name="targetLangISO639_1" type="xsd:string"/>
      <element maxOccurs="unbounded" name="aTMAssignments" type="impl:TMAssignment"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMAssignment">
    <sequence>
     <element name="TMName" nillable="true" type="xsd:string"/>
     <element name="penalty" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createXliffResponse">
    <complexType>
     <sequence>
      <element name="createXliffReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="tmExists">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="tmExistsResponse">
    <complexType>
     <sequence>
      <element name="tmExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTM">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element name="sSourceLangIso639_1" type="xsd:string"/>
      <element name="sTargetLangIso639_1" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTMResponse">
    <complexType>
     <sequence>
      <element name="createTMReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="concordance">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="aTMNames" type="xsd:string"/>
      <element name="sSourceText" type="xsd:string"/>
      <element name="sTargetText" type="xsd:string"/>
      <element name="bCaseSensitive" type="xsd:boolean"/>
      <element name="bNumericEquivalenve" type="xsd:boolean"/>
      <element name="nLimit" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="concordanceResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="concordanceReturn" type="impl:CorpusEntry"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CorpusEntry">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="guid" nillable="true" type="xsd:string"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
     <element name="metadata" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="updateTMEntry">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element name="idEntry" type="xsd:int"/>
      <element name="jsonData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTMEntryResponse">
    <complexType/>
   </element>
   <element name="getTMList">
    <complexType>
     <sequence>
      <element name="sTMNameContains" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTMListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTMListReturn" type="impl:TMInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMInfo">
    <sequence>
     <element name="langFrom" nillable="true" type="xsd:string"/>
     <element name="langTo" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="guid" nillable="true" type="xsd:string"/>
     <element name="entryNumber" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="addTMEntries">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element maxOccurs="unbounded" name="tmEntries" type="impl:TMEntry"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMEntry">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
     <element name="metadata" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="addTMEntriesResponse">
    <complexType>
     <sequence>
      <element name="addTMEntriesReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="importTMX">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element name="sTmxContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="importTMXResponse">
    <complexType>
     <sequence>
      <element name="importTMXReturn" type="impl:TMImportResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMImportResult">
    <sequence>
     <element name="allItems" type="xsd:int"/>
     <element name="importedItems" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="exportTMX">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exportTMXResponse">
    <complexType>
     <sequence>
      <element name="exportTMXReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteTMEntry">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element name="idEntry" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteTMEntryResponse">
    <complexType/>
   </element>
   <element name="getTMMatches">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="aTMNames" type="xsd:string"/>
      <element name="sSourceText" type="xsd:string"/>
      <element name="sPrevText" type="xsd:string"/>
      <element name="sNextText" type="xsd:string"/>
      <element name="matchThreshold" type="xsd:byte"/>
      <element name="maxHits" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTMMatchesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTMMatchesReturn" type="impl:TMMatch"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TMMatch">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
     <element name="origin" nillable="true" type="xsd:string"/>
     <element name="quality" type="xsd:int"/>
     <element name="metadata" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getTMLastUpdated">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTMLastUpdatedResponse">
    <complexType>
     <sequence>
      <element name="getTMLastUpdatedReturn" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRepositoryInfo">
    <complexType/>
   </element>
   <element name="getRepositoryInfoResponse">
    <complexType>
     <sequence>
      <element name="getRepositoryInfoReturn" type="impl:RepositoryInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RepositoryInfo">
    <sequence>
     <element name="size" type="xsd:long"/>
     <element name="files" type="xsd:long"/>
     <element name="lastSave" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <element name="getTMInfo">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTMInfoResponse">
    <complexType>
     <sequence>
      <element name="getTMInfoReturn" type="impl:TMInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="preTranslateXliff">
    <complexType>
     <sequence>
      <element name="sXliffContent" type="xsd:string"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element name="targetLangISO639_1" type="xsd:string"/>
      <element maxOccurs="unbounded" name="aTMAssignments" type="impl:TMAssignment"/>
      <element name="matchThreshold" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="preTranslateXliffResponse">
    <complexType>
     <sequence>
      <element name="preTranslateXliffReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStatisticsForDocument">
    <complexType>
     <sequence>
      <element name="sFileName" type="xsd:string"/>
      <element name="fileContent" type="xsd:base64Binary"/>
      <element name="sFilterName" type="xsd:string"/>
      <element name="filterContent" type="xsd:base64Binary"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element maxOccurs="unbounded" name="aTargetLangsISO639_1" type="xsd:string"/>
      <element maxOccurs="unbounded" name="aTMAssignments" type="impl:TMAssignment"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStatisticsForDocumentResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getStatisticsForDocumentReturn" type="impl:Statistics"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Statistics">
    <sequence>
     <element name="sourceLang" nillable="true" type="xsd:string"/>
     <element name="targetLang" nillable="true" type="xsd:string"/>
     <element name="repetition" type="xsd:int"/>
     <element name="match_100" type="xsd:int"/>
     <element name="match_101" type="xsd:int"/>
     <element name="match_50_74" type="xsd:int"/>
     <element name="match_75_84" type="xsd:int"/>
     <element name="match_85_94" type="xsd:int"/>
     <element name="match_95_99" type="xsd:int"/>
     <element name="no_match" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createDocumentFromXliff">
    <complexType>
     <sequence>
      <element name="sFileName" type="xsd:string"/>
      <element name="fileContent" type="xsd:base64Binary"/>
      <element name="sFilterName" type="xsd:string"/>
      <element name="filterContent" type="xsd:base64Binary"/>
      <element name="sourceLangISO639_1" type="xsd:string"/>
      <element name="targetLangISO639_1" type="xsd:string"/>
      <element name="sXliffContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createDocumentFromXliffResponse">
    <complexType>
     <sequence>
      <element name="createDocumentFromXliffReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTMEntryCustomField">
    <complexType>
     <sequence>
      <element name="sTMName" type="xsd:string"/>
      <element name="key" type="xsd:int"/>
      <element name="fieldName" type="xsd:string"/>
      <element name="value" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTMEntryCustomFieldResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createDocumentFromXliffResponse">

      <wsdl:part element="impl:createDocumentFromXliffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="importTMXRequest">

      <wsdl:part element="impl:importTMX" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="preTranslateXliffRequest">

      <wsdl:part element="impl:preTranslateXliff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createXliffResponse">

      <wsdl:part element="impl:createXliffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRepositoryInfoRequest">

      <wsdl:part element="impl:getRepositoryInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTMEntriesResponse">

      <wsdl:part element="impl:addTMEntriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTMEntryRequest">

      <wsdl:part element="impl:updateTMEntry" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStatisticsForDocumentResponse">

      <wsdl:part element="impl:getStatisticsForDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMInfoRequest">

      <wsdl:part element="impl:getTMInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMInfoResponse">

      <wsdl:part element="impl:getTMInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTMEntryResponse">

      <wsdl:part element="impl:updateTMEntryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentFromXliffRequest">

      <wsdl:part element="impl:createDocumentFromXliff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="importTMXResponse">

      <wsdl:part element="impl:importTMXResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="preTranslateXliffResponse">

      <wsdl:part element="impl:preTranslateXliffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMMatchesResponse">

      <wsdl:part element="impl:getTMMatchesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRepositoryInfoResponse">

      <wsdl:part element="impl:getRepositoryInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exportTMXRequest">

      <wsdl:part element="impl:exportTMX" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStatisticsForDocumentRequest">

      <wsdl:part element="impl:getStatisticsForDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTMEntryCustomFieldResponse">

      <wsdl:part element="impl:setTMEntryCustomFieldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTMEntriesRequest">

      <wsdl:part element="impl:addTMEntries" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMLastUpdatedResponse">

      <wsdl:part element="impl:getTMLastUpdatedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createXliffRequest">

      <wsdl:part element="impl:createXliff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteTMEntryResponse">

      <wsdl:part element="impl:deleteTMEntryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTMResponse">

      <wsdl:part element="impl:createTMResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTMRequest">

      <wsdl:part element="impl:createTM" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTMEntryCustomFieldRequest">

      <wsdl:part element="impl:setTMEntryCustomField" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="concordanceRequest">

      <wsdl:part element="impl:concordance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tmExistsResponse">

      <wsdl:part element="impl:tmExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMListResponse">

      <wsdl:part element="impl:getTMListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exportTMXResponse">

      <wsdl:part element="impl:exportTMXResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteTMEntryRequest">

      <wsdl:part element="impl:deleteTMEntry" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMMatchesRequest">

      <wsdl:part element="impl:getTMMatches" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tmExistsRequest">

      <wsdl:part element="impl:tmExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMListRequest">

      <wsdl:part element="impl:getTMList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="concordanceResponse">

      <wsdl:part element="impl:concordanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTMLastUpdatedRequest">

      <wsdl:part element="impl:getTMLastUpdated" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OkapiService">

      <wsdl:operation name="createXliff">

         <wsdl:input message="impl:createXliffRequest" name="createXliffRequest">

       </wsdl:input>

         <wsdl:output message="impl:createXliffResponse" name="createXliffResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="tmExists">

         <wsdl:input message="impl:tmExistsRequest" name="tmExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:tmExistsResponse" name="tmExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTM">

         <wsdl:input message="impl:createTMRequest" name="createTMRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTMResponse" name="createTMResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="concordance">

         <wsdl:input message="impl:concordanceRequest" name="concordanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:concordanceResponse" name="concordanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTMEntry">

         <wsdl:input message="impl:updateTMEntryRequest" name="updateTMEntryRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTMEntryResponse" name="updateTMEntryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMList">

         <wsdl:input message="impl:getTMListRequest" name="getTMListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTMListResponse" name="getTMListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTMEntries">

         <wsdl:input message="impl:addTMEntriesRequest" name="addTMEntriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:addTMEntriesResponse" name="addTMEntriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="importTMX">

         <wsdl:input message="impl:importTMXRequest" name="importTMXRequest">

       </wsdl:input>

         <wsdl:output message="impl:importTMXResponse" name="importTMXResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportTMX">

         <wsdl:input message="impl:exportTMXRequest" name="exportTMXRequest">

       </wsdl:input>

         <wsdl:output message="impl:exportTMXResponse" name="exportTMXResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteTMEntry">

         <wsdl:input message="impl:deleteTMEntryRequest" name="deleteTMEntryRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteTMEntryResponse" name="deleteTMEntryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMMatches">

         <wsdl:input message="impl:getTMMatchesRequest" name="getTMMatchesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTMMatchesResponse" name="getTMMatchesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMLastUpdated">

         <wsdl:input message="impl:getTMLastUpdatedRequest" name="getTMLastUpdatedRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTMLastUpdatedResponse" name="getTMLastUpdatedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRepositoryInfo">

         <wsdl:input message="impl:getRepositoryInfoRequest" name="getRepositoryInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRepositoryInfoResponse" name="getRepositoryInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMInfo">

         <wsdl:input message="impl:getTMInfoRequest" name="getTMInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTMInfoResponse" name="getTMInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="preTranslateXliff">

         <wsdl:input message="impl:preTranslateXliffRequest" name="preTranslateXliffRequest">

       </wsdl:input>

         <wsdl:output message="impl:preTranslateXliffResponse" name="preTranslateXliffResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatisticsForDocument">

         <wsdl:input message="impl:getStatisticsForDocumentRequest" name="getStatisticsForDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStatisticsForDocumentResponse" name="getStatisticsForDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDocumentFromXliff">

         <wsdl:input message="impl:createDocumentFromXliffRequest" name="createDocumentFromXliffRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDocumentFromXliffResponse" name="createDocumentFromXliffResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTMEntryCustomField">

         <wsdl:input message="impl:setTMEntryCustomFieldRequest" name="setTMEntryCustomFieldRequest">

       </wsdl:input>

         <wsdl:output message="impl:setTMEntryCustomFieldResponse" name="setTMEntryCustomFieldResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OkapiServiceSoapBinding" type="impl:OkapiService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createXliff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createXliffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createXliffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="tmExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tmExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tmExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTMRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTMResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="concordance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="concordanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="concordanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTMEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTMEntryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTMEntryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTMListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTMListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTMEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTMEntriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTMEntriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="importTMX">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="importTMXRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="importTMXResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportTMX">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportTMXRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportTMXResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteTMEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteTMEntryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteTMEntryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMMatches">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTMMatchesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTMMatchesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMLastUpdated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTMLastUpdatedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTMLastUpdatedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRepositoryInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRepositoryInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRepositoryInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTMInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTMInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTMInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="preTranslateXliff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="preTranslateXliffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="preTranslateXliffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatisticsForDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatisticsForDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStatisticsForDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDocumentFromXliff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentFromXliffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDocumentFromXliffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTMEntryCustomField">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setTMEntryCustomFieldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setTMEntryCustomFieldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OkapiServiceService">

      <wsdl:port binding="impl:OkapiServiceSoapBinding" name="OkapiService">

         <wsdlsoap:address location="http://localhost:8080/OkapiService/services/OkapiService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
